@charset "UTF-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #3a3a3a;
    background-color: #f7f9fb;
    font-size: 14px;
    font-family: sans-serif;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 120px auto;
    margin-bottom: 60px;
}

p {
    padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #6f5a8a;
    background-color: #d4cbe3;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: #5e8faf;
}

a:hover {
    color: #5e8faf;
}

header, header h1 {
    background-color: #6f5a8a;
    color: #f7f9fb;
}

header h1 {
    text-shadow: 2px 2px #3a3a3a;
    padding: 0;
    margin: 0;
    line-height: 2.2em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0.5em;
    width: 100%;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 100%;
    max-width: 800px;
}

nav li {
    display: block;
    height: 100%;
    width: 25%;
    text-align: center;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    display: block;
    padding: 0.5em;
    background: #afa1c7;
    text-decoration: none;
    color: #3a3a3a;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav li a:hover {
    background: #d4cbe3;
}

nav li a#selected {
    background: #d4cbe3;
    font-weight: bold;
}

img {
    width: 100%;
    margin: 0 auto;
}

em {
    font-style: normal;
    font-weight: bold;
}

footer {
    background-color: #6f5a8a;
    padding: 10px;
    color: #d4cbe3
}

#references {
    max-width: 700px;
    margin: 0 auto;
}

#references h3 {
    background-color: #6f5a8a;
    color: #d4cbe3;
    text-transform: none;
    padding: 0;
}

#references p {
    padding-left: .75in;
    text-indent: -.75in;
    line-height: 1.8;
}

#references p a {
    color: #d4cbe3;
}

/* timeline styling for professional-leagues */

#fulltimeline {
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: -60px;
}

#fulltimeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #3a3a3a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline h2 {
    margin: 0;
    padding: 0;
}

.timeline p {
    padding: 0;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #afa1c7;
    border: 4px solid #6f5a8a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #d4cbe3;
    border-width: 11px 0 11px 11px;
    border-color: transparent transparent transparent #d4cbe3;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #d4cbe3;
  border-width: 11px 11px 11px 0;
  border-color: transparent #d4cbe3 transparent transparent;
}

.right::after {
    left: -13px
}

.content {
    padding: 20px 30px;
    background-color: #d4cbe3;
    position: relative;
    border-radius: 6px;
}

/* table formatting */
div:has(table) {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}

table {
    width: 100%;
}

th {
    background-color: #6f5a8a;
    color: #f7f9fb;
    width: 25%;
}

tr:nth-child(2n) td {
    background-color: #d4cbe3;
}

th, td, table, tr {
    border-collapse: collapse;
    padding: 3px;
}